.single-story-left-main {
  position: sticky !important;
  top: 100px;
}
.single-story-left-container {
  padding: 0 1rem;

  display: flex;
  flex-direction: column;
}
.user-info-container {
  display: flex;
}
.user-info-container- {
  padding: 0 0.5rem;
}
.single-story-left-username {
  margin-right: 3rem;
}
.single-story-left-footer {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.show-on-sm {
  display: none;
}
.single-story-bio {
}

@media screen and (max-width: 942px) {
  .single-story-left-username {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .single-story-left-main {
    justify-content: left;
  }
  .single-story-left-container {
    width: 100%;
    position: static;
  }
  .user-info-container- {
    display: none;
  }
  .user-profile {
    margin-right: 1rem;
  }
  .single-story-left-username {
    margin-right: 2.5rem;
  }
  .single-story-bio {
  }
  .single-story-left-footer {
    justify-content: left;
  }
  .single-story-left-footer div:first-child {
    margin-right: 2rem;
  }
  .show-on-sm {
    text-transform: uppercase;
    font-size: 13px;
    display: flex;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .show-on-sm {
    font-size: 12px;
  }
}
