.custom-signin-container {
  padding: 2rem;
  position: absolute;
  background-color: rgba(254, 254, 254, 0.8);
  min-width: 30%;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.73);
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.reset-pw-link {
  color: red !important;
  margin-left: 1rem;
  border-bottom: 1px solid red;
}

@media screen and (max-width: 992px) {
  .custom-signin-container {
    width: 50%;
  }
  .form-footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .s-up-now-btn {
    margin-top: 1rem !important;
  }
}

@media screen and (max-width: 576px) {
  .custom-signin-container {
    width: 90%;
    transform: translateY(-15%);
  }
}
