
.main-story-image-container {
  width: 100%;
}
.main-story-image {
  width: 100%;
  height: 300px;
}

.by-info-container {
  margin: 0.5rem 0;
}
.by-info {
  
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .azw1d {
    width: 50% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .custom-md {
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
  }
}
