.main-story-image-container {
  width: 100%;
  max-height: 300px;
}
.main-story-image {
  width: 100%;
  height: auto;
}

.by-info-container {
  margin: 0.5rem 0;
}
.by-info {
}
.border-right {
  border-right: 1px solid black;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .azw1d {
    width: 50% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .custom-md {
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .border-right {
    display: none;
  }
}
