@media screen and (max-width: 768px) {
  .single-story-container {
    flex-direction: column !important;
  }
  .hide-on-sm {
    display: none;
  }
}

.custom-main-content {
  padding: 0;
  margin: 0;
}
