.story-user-info-container {
  margin-bottom: 0.5rem;
}
.story-info-container {
  display: flex;
  width: 100%;
}
.story-right-info {
  width: 40%;
}
.story-right-image {
  max-width: 100%;
  height: auto;
}
.story-left-info {
  width: 70%;
}

.cos-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

@media screen and (max-width: 576px) {
  .story-right-image {
    max-width: 100%;
    height: auto;
  }
}
