
.icon {
  font-size: 18px;
  cursor: pointer;
}
.header-text {
}
.search-box-container {
  position: absolute;
  right: 300px !important;
}
.header-text-mobile {
  display: none;
}
@media screen and (max-width: 550px) {
  .brand-image {
    width: 90px !important;
    height: 70px !important;
  }
  .icon {
    font-size: 14px;
  }
  .header-username {
    font-size: 14px;
  }
}
@media screen and (max-width: 500px) {
  .header-text {
    display: none;
  }
  .header-text-mobile {
    display: block;
    font-weight: bold;
    font-size: 12px;
  }
}
@media screen and (max-width: 400px) {
  .brand-image {
    width: 70px !important;
    height: 50px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .search-box-container {
    right: 200px !important;
  }
}
