a{
  color : black !important;
  text-decoration: none !important;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0 !important;
  padding : 0 !important;
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input{
  box-shadow: none !important;
  outline : none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
