.p-tag {
  cursor: pointer;
}
.p-tag:hover {
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 576px) {
  .popover {
    max-width: 99% !important;
    border: none;
  }
  .sm-only {
    margin-top: 2rem;
    width: 100% !important;
    height: 100vh;
    position: absolute !important;
   
  }
}
